<em>count : <%= comment.votecount %> - up : <%= comment.upvotes %> - down : <%= comment.downvotes %></em>
<p><%= comment.body %></p>
<% if @user == comment.user_id %>

  <%= link_to 'Edit comment', polymorphic_url([comment.commentable, comment], action: 'edit') %>
  <%= link_to 'Delete comment', comment, method: 'delete' %>
  <br>
  <%= link_to('upvote', comment_upvote_path(comment), method: 'POST') %><%= link_to('downvote', comment_downvote_path(comment), method: 'POST') %>
<% end %>
