
<div class="comment">
  <div class="comment_votes votes">
    <div class="upvote">
      <%= link_to(image_tag('comment_uparrow.png'), comment_upvote_path(comment), method: 'POST', remote: true) %>
    </div>
    <div class="vote-count">
      <%= comment.votecount %>
    </div>
    <div class="downvote">
      <%= link_to(image_tag('comment_downarrow.png'), comment_downvote_path(comment), method: 'POST', remote: true) %>
    </div>
  </div>

  <div class="comment_body">
    <%= comment.body %><br>
     <div class="comment_giver">
       - <%= comment.user.username %>
     </div>
    <% if @user == comment.user_id %>
      <div class="editcomment">
        <%= link_to 'edit', polymorphic_url([comment.commentable, comment], action: 'edit') %>
      </div>
      <div class="deletecomment">
        <%= link_to 'delete', comment, method: 'delete' %>
      </div>
    <% end %>
  </div>


</div>