<div>
<h1>Login:</h1>
<% if flash[:message] %><div><%= flash[:message] %></div><% end %>
  <% if flash[:error] %><div><%= flash[:error] %></div><% end %>

  <%= form_for :users, url: sessions_path do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit 'Login' %>
<% end %>

</div>
