<div class="container">
  <div class="question">
    <h1><%= @question.title %></h1>
    <div class="question_body">
      <p><%= @question.body %></p>
      <ul>
        <% @question.comments.each do |comment| %>
          <li><%= render 'shared/show_comment', comment: comment %></li>
        <% end %>
      </ul>
      <% if @question_owner %>
        <%= link_to('edit question', edit_question_path(@question)) %>
      <% end %>
      <%= link_to('Comment', new_question_comment_path(@question)) %>
    </div>

    <div class="answers">
      <h4>Answers</h4>
      <ul>
        <% @answers.each do |answer| %>
          <%= render 'answers/show_answer_options', :answer => answer %>
        <% end %>
      </ul>
    </div>
    <div class="new_answer">
      <%= link_to('Submit a new answer!', new_question_answer_path(@question)) %>
    </div>

  </div>
</div>