<div class="container">
  <div class="question">
    <h1 class="actualquestiontitle"><%= @question.title %></h1>

    <div class="question_votes votes">
      <div class="upvote">
        <%= link_to(image_tag('uparrow.png'), question_upvote_path(@question), method: 'POST', remote: true) %>
      </div>
      <div class="vote-count">
        <%= @question.votecount %>
      </div>
      <div class="downvote">
        <%= link_to(image_tag('downarrow.png'), question_downvote_path(@question), method: 'POST', remote: true) %>
      </div>
    </div>

    <div class="question_body">
      <div class="questionbody">
        <%= @question.body %><br>
        <div class="question_asker">
          asked by: <%= @question.user.username %>

        <div class="editquestion">
          <% if @question_owner %>
            <%= link_to('edit question', edit_question_path(@question)) %>
          <% end %>
        </div>
        </div>
      </div>
        <% @question.comments.each do |comment| %>
          <%= render 'shared/show_comment', comment: comment %>
        <% end %>
      <% if !!session[:id] %>
        <div class="makecomment">
          <%= link_to('comment', new_question_comment_path(@question)) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="answers">
    <h4>Answers: <%= @answers_count %></h4>
    <% if !!session[:id] %>
      <div class="new_answer_button">
        <%= link_to('Submit a new answer!', new_question_answer_path(@question), remote: true) %>
      </div>
    <% end %>
    <ul>
      <% if @best_answer %>
        <%= render 'answers/best_answer_options', :answer => @best_answer %>
      <% end %>
      <% @answers.each do |answer| %>
        <%= render 'answers/show_answer_options', :answer => answer %>
      <% end %>
    </ul>
  </div>
</div>